{% extends 'base.html' %}
{% block content %}
        <div class="container"><h1>Welcome to Castro Stories</h1></div>
        <div class="container"></div><h2>Castro stories is designed for its users to be able to create stories that can possibly inspire the life of another individual. Step into a world created by a random stranger and experience something amazing.</h2></div>
        <div class="container"></div><h2>There shall be more edits to the site as time goes on but for now find a story and enjoy</h2></div>
        <div class="container"></div><h2>Created by: T.M</h2></div>
{% endblock content %}